.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: gold;
}

.App-header {
  background-color: #98bcd4;
  display: flex;
  padding-bottom: 10px;
  border: 1px solid #777;
  border-radius: 4px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 5px;
}

.game-inputs {
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2px;
  padding: 0 60px;
}

.grid-container > div {
  text-align: center;
  font-size: 30px;
}

.container {
  display: flex;
  flex-direction: row;
}

.game-field {
  border-radius: 15px;
  border-width: 2px;
  border: 8px solid #20b020;
}

.sidebar,
.content {
    display: flex;
    flex-direction: column;
    background: #98bcd4;
    align-items: center;
    min-height: 500px;
    border-radius: 4px;
    padding-top: 10px;
    margin: 5px;
    border: 1px solid #777;
}

.sidebar {
    flex-grow: 1;
    min-width: 300px;
    max-width: 350px;
}

.content {
    flex-grow: 10;
    min-width: 630px;
    padding: 15px;
    text-align: center;
}

.astra-logo {
  padding-top: 40px;
}

.astra-logo > img {
  width: 90px;
}

.player-position {
  border-radius: 8px;
  border: 1px solid #777;
  padding: 10px;
  margin: 0 0 20px 0;
}

.reference-position {
  font-size: 10px;
  color: #555555;
}

.chat-area {
  margin-top: 60px;
  border-radius: 8px;
  padding: 20px;
  background: #f9ffbb;
}

.statusbar {
  background: #98bcd4;
  font-size: 70%;
  text-align: left;
  margin: 5px;
  border: 1px solid #777;
  padding: 5px;
  border-radius: 4px;
}

.game-message {
  color: blue;
  font-weight: bold;
  font-size: 110%;
}

.chat-title {
  font-size: 150%;
  color: blue;
  font-variant: small-caps;
}

.chat-list {
  text-align: left;
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-bottom: 15px;
  padding-top: 10px;
  min-height: 100px;
}

.chat-item {
  font-size: 75%;
}

.chat-player-name {
  font-style: italic;
}

.player-self {
  color: #10b010;
  fill:  #10b010;
}

.player-other {
  color: #bf99ff;
  fill: #bf99ff;
}

.player-name {
  fill: #404040;
}

.arrow-key {
  background-color: #10b010;
  border: 1px solid black;
  color: black;
  padding: 10px;
  margin: 5px;
  text-align: center;
  font-size: 25px;
}